/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
app/data/data.db3
web/files
bower_components
node_modules
web/built
web/images
web/media
web/uploads
app/data
web/fonts
/app/Resources/public/knacss/_*
