<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/built/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" sizes="any" href="{{ asset('logo.svg') }}">
        <link rel="alternate icon" type="image/png" sizes="any" href="{{ asset('logo.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javadcripts %}
            <script>
                var filters = {{ getFiltersConfiguration() }};
            </script>
            <script src="/built/all.min.js"></script>
        {% endblock %}
        {% include '::piwik.html.twig' %}
        {% include '::uservoice.html.twig' %}
    </body>
</html>
