<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/built/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javadcripts %}
            <script>
                var filters = {{ getFiltersConfiguration() }};
            </script>
            <script src="/built/all.js"></script>
        {% endblock %}
    </body>
</html>
