parameters:
    database_driver:   pdo_sqlite
    database_path:     %kernel.root_dir%/data.db3

    locale:            en
    secret:            aD5n5sLb2Q8q6Z39bDra23ZrzAN85ANr

    pictures_path: "%kernel.root_dir%/../web/uploads/pictures"
