{% extends '::base.html.twig' %}

{% block footer_attr %}class="link"{% endblock %}

{% block body %}
    <header class="homepage cornfield">

        <img src="/logo_white.svg" class="logo"/>

        <h1>Sharepear</h1>

    </header>

    <ul class="links">
        <li class="link-top link-left">
            <a href="{{ path('fos_user_security_login') }}" class="ajax" title="{{ "Sign in" | trans({}, "album") }}">
                <i class="fa fa-sign-in"></i>
            </a>
        </li>
    </ul>

    <section class="ajaxFullScreen" style="display: none;">
        <ul class="links">
            <li class="link-top link-right">
                <a href="" class="close" title="{{ "Close" | trans({}, "album") }}">
                    <i class="fa fa-times"></i>
                </a>
            </li>
        </ul>
        <div class="ajaxContainer">{% block ajaxContainer '' %}</div>
    </section>

    <footer class="homepage clearfix">
        <p class="small-hidden">Made With Fresh Pear!</p>
        <ul class="unstyled pan">
            <li>
                <a href="https://github.com/sharepear/sharepear">
                    <i class="fa fa-github-square"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Share_Pear">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a href="mailto:contact@sharepear.io">
                    <i class="fa fa-envelope-square"></i>
                </a>
            </li>
        </ul>
    </footer>
{% endblock %}
