{% extends '::base.html.twig' %}

{% block body %}
    <header class="homepage cornfield">

        <img src="/logo_white.svg" class="logo"/>

        <h1>Sharepear</h1>

    </header>

    {{ render(controller('FOSUserBundle:Security:Login')) }}

    <footer class="clearfix">
        <p class="small-hidden">Made With Fresh Pear!</p>
        <ul class="unstyled pan">
            <li>
                <a href="https://github.com/sharepear/sharepear">
                    <i class="fa fa-github-square"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Share_Pear">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a href="mailto:contact@sharepear.io">
                    <i class="fa fa-envelope-square"></i>
                </a>
            </li>
        </ul>
    </footer>
{% endblock %}
