{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        <header {% block header_attr '' %}>
            {% block header_content '' %}
        </header>
    {% endblock %}

    {% block section %}
        <section {% block section_attr '' %}>
            {% block section_content '' %}
        </section>
    {% endblock %}

    {% block footer %}
        <footer {% block footer_attr '' %}>
            {% block footer_content '' %}
        </footer>
    {% endblock %}
{% endblock %}
