{% extends 'kosssiMyAlbumsBundle:Album/base:layout.html.twig' %}

{% if shared_album is not defined %}
    {% set shared_album = false %}
{% endif %}

{% block header '' %}

{% block section_content %}
    <ul class="pictures display zoom" itemscope itemtype="http://schema.org/ImageGallery">
        {% for album in albums %}
            <li>
                <a href="{{ path("album_show", {'id': album.id}) }}">
                    {% if album.image %}
                        {% include 'kosssiMyAlbumsBundle:Image/base:image.html.twig' with {'image': album.image, 'name': album.name} only %}
                    {% else %}
                        {% include 'kosssiMyAlbumsBundle:Image/base:image.html.twig' with {'path': '/uploads/sharepear/default/sharepear.png', 'orientation': 'landscape', 'name': album.name} only %}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
