{% extends 'kosssiMyAlbumsBundle:Album/base:layout.html.twig' %}

{% if shared_album is not defined %}
    {% set shared_album = false %}
{% endif %}

{% block header '' %}

{% block section_content %}
    <div class="pictures display zoom" itemscope itemtype="http://schema.org/ImageGallery">
        {% for album in albums %}
            {% if album.image %}
                {% include 'kosssiMyAlbumsBundle:Image/base:image.html.twig' with {
                    'image': album.image,
                    'name': album.name,
                    'link': path("album_show", {'id': album.id})
                } only %}
            {% else %}
                {% include 'kosssiMyAlbumsBundle:Image/base:image.html.twig' with {
                    'path': '/uploads/sharepear/default/sharepear.png',
                    'orientation': constant('kosssi\\MyAlbumsBundle\\Entity\\Image::ORIENTATION_LANDSCAPE'),
                    'name': album.name,
                    'link': path("album_show", {'id': album.id})
                } only %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
