{% extends 'kosssiMyAlbumsBundle:Album:base.html.twig' %}

{% block section_content %}
    {% if form is defined %}
        {{ form(form, {'action': path('album_name_edit', {'id': album.id})}) }}
    {% endif %}
    <ul id="albumShow" class="album"></ul>
    <ul id="albumList" class="album">
        {% for image in images %}
            {% include 'kosssiMyAlbumsBundle:Image:article.html.twig' with {'image': image, 'element': 'li'} only %}
        {% endfor %}
    </ul>
    <div id="fullscreenContent"></div>
{% endblock %}
