@import "../../app/knacss/knacss-config.less";

.btn-download {
  position: absolute;
  right: 20px;
  text-decoration: none;
  font-size: 1.4rem;
  border: 2px solid @flashColor;
  top: 20px;
  padding-top: 24px;
  border-radius: 100%;
  width: @menu-width;
  height: @menu-width;
  text-align: center;

  i {
    display: block;
    font-size: 2.8rem;
  }
}