@import "../../app/knacss/knacss-config";

form[name=album_name] {
    position: fixed;
    top: 0;
    left: 50px;

    label {
        display: none;
    }

    input[type=text] {
        height: @headerSize;
        line-height: @headerSize;
        font-size: 20px;
        display: none;
        color: @writeColor;
        border-width: 0;
        background-color: @highlightBackgroundColor;
        font-weight: bold;
        overflow: hidden;
        width: 50%;
    }

    input {
        display: none;
    }
}
