@import "../../app/less/mixin.less";
@import "../../app/less/variables.less";

#fullscreenContent {
    .fixed();
    display: none;
    padding: 20px;
    background-color: @backgroundColor;

    .actions {
        .fixed(auto, 0, -30px, 0);
        text-align: center;
        padding-top: 50px;
        transition-duration: 1s;

        &:hover, &.show {
            bottom: 0;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        li {
            background-color: @highlightBackgroundColor;
            margin-right: -3px;
        }
    }
}
