@import "../../app/knacss/knacss-config";

header {
    z-index: 200;
    display: block;

    h1 {
        text-align: center;
        color: @writeColor;
        border-width: 0;
        background-color: transparent;
        font-weight: bold;
        overflow: hidden;
        margin: 0;
        padding: 26px 0 0;
        font-size: @h2-size * 2;

        img {
            height: 80px;
            margin-top: -10px;
        }
    }

    .remove-album form {
        display: none;
    }
}
