@import "../../app/less/mixin.less";

header {
    display: block;
    height: 40px;
    padding: 5px 10px;
    margin: 0;
    .box-sizing(border-box);

    h1 {
        .box-sizing(border-box);
        margin: 0;
        padding: 0;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        display: inline-block;
    }

    a {
        padding: 10px;
        color: white;

        .fa {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
        }
    }
}
