@import "../../app/less/variables.less";

header {
    z-index: 200;
    display: block;
    height: @headerSize;
    padding: 0 10px;
    background-color: @highlightBackgroundColor;

    h1, input {
        height: @headerSize;
        line-height: @headerSize;
        font-size: 20px;
        display: inline-block;
        color: @writeColor;
        border-width: 0;
        background-color: transparent;
        font-weight: bold;
        overflow: hidden;
        width: 50%;
    }

    .remove-album form {
        display: none;
    }

    .edit-album {
        display: inline;

        h1 {display: inline-block;}
        input {display: none;}

        &:hover, &.change {
            h1 {display: none;}
            input {display: inline-block;}
        }
    }
}

.actions {
    a {
        display: inline-block;
        color: white;

        .fa {
            padding: 10px;
            height: @headerSize;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }

        .fa-lg {
            text-align: center;
        }
    }

    a:hover {
        color: @flashColor;
    }

    .fa-lg {
        height: @headerSize;
        margin-top: -6px;

        &:hover {
            .fa-stack-2x {
                display: none;
            }

            .fa-stack-1x {
                display: block;
            }
        }

        .fa-stack-2x {
            display: block;
        }

        .fa-stack-1x {
            display: none;
        }
    }
}
