@import "../../app/knacss/knacss-config.less";

@padding: 5px;

.pictures {
  font-size: 0;
  height: 0;
  text-align: left;

  &.display {
    figcaption {
      left: @padding*2;
      right: @padding*2;
      bottom: @padding*2;
      position: absolute;
      overflow: hidden;
      background-color: fade(@backgroundColor, 50%);
      font-size: @h4-size;
      font-weight: bold;
      text-align: center;
      color: white;
      line-height: 100%;
      padding: @padding;
    }
  }

  &.zoom {
    figure:hover {
      a {
        overflow: visible;
        z-index: 111;
        img {
          border: @padding solid @color3;
          transform: scale(1.2);
        }
      }
    }
  }

  &.edit {
    .actions {
      display: block;
      background-color: @highlightBackgroundColor;
      text-align: center;
      height: 40px;
      left: @padding*2;
      right: @padding*2;
      bottom: @padding*2;
      position: absolute;
    }
  }

  .actions {
    display: none;
  }

  > figure {
    margin: 0;
    display: inline-block;
    position: relative;

    > a {
      top: @padding;
      left: @padding;
      right: @padding;
      bottom: @padding;
      position: absolute;
      overflow: hidden;
      box-shadow: @padding @padding @padding #333;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-in-out;

      &.landscape {
        max-width: none;
        height: 100%;
        left: -25%;
      }

      &.portrait {
        top: -25%;
      }
    }
  }
}

@media only screen and                         (min-width: 1601px) {.pictures > figure {width: round(99.8% / 6, 1); padding-bottom: round(99.8% / 6, 1);}}
@media only screen and (max-width: 1600px) and (min-width: 1383px) {.pictures > figure {width: round(100% / 5, 1); padding-bottom: round(100% / 5, 1);}}
@media only screen and (max-width: 1382px) and (min-width: 993px)  {.pictures > figure {width: round(100% / 4, 1); padding-bottom: round(100% / 4, 1);}}
@media only screen and (max-width: 992px)  and (min-width: 769px)  {.pictures > figure {width: round(100% / 3, 1); padding-bottom: round(100% / 3, 1);}}
@media only screen and (max-width: 768px)  and (min-width: 481px)  {.pictures > figure {width: round(100% / 2, 1); padding-bottom: round(100% / 2, 1);}}
@media only screen and (max-width: 480px)  and (min-width: 301px)  {.pictures > figure {width: round(100%, 1); padding-bottom: round(100%, 1);}}
@media only screen and (max-width: 300px)                          {.pictures > figure {width: round(100%, 1); padding-bottom: round(100%, 1);}}
