{% extends '::base.html.twig' %}

{% block title %}Request new password{% endblock %}

{% block body %}
    <section class="checkEmail popin">
        <ul>
            <li>
                <p class="only">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
            </li>
            <li class="button">
                <p>
                    <a class="button ajax" href="{{ path('fos_user_security_login') }}">
                        {{ 'Login'|trans }}
                    </a>
                </p>
            </li>
        </ul>
    </section>
{% endblock %}
