<div class="pictures {{ action }}{% if action != 'edit' %} zoom{% endif %}" itemscope itemtype="http://schema.org/ImageGallery">
    {% for image in images %}
            {% include 'kosssiMyAlbumsBundle:Image/base:image.html.twig' with {'image': image, 'edit': action == 'edit' } only %}
    {% endfor %}
    {% if action == 'edit' %}
        <div id="upload">
            <div>
                <form action="{{ oneup_uploader_endpoint('album') }}" class="dropzone" id="my-dropzone">
                    <input type="hidden" name="album_id" value="{% if album is defined %}{{ album.id }}{% endif %}">
                    <span data-description="{{ "Drop files here to upload" | trans({}, "album") }}"></span>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% include 'kosssiMyAlbumsBundle:PhotoSwipe:photoSwipe.html.twig' %}
